<div class="get-started">
  <h2>Get Started</h2>
  <ul>
    <li>Browse through more than 1000 home studios</li>
    <li>See the most popular gear in all categories</li>
    <li>Share your own amazing studio setup with the world</li>
  </ul>
</div>
