<table>
  <% @gear.each do |g| %>
    <tr>
      <td><%= g.name %></td>
      <td><%= g.category %></td>
      <td><button data-id="<%= g.id %>" class="add-gear button small" style="margin-bottom: 0;">Add It!</button></td>
    </tr>
  <% end %>
</table>
