<table>
  <% @gear.each do |g| %>
    <tr>
      <td><%= g.name %></td>
      <td><a href="javascript:void(0)" class="add-gear" data-id="<%= g.id %>"><i class="fi-plus"></i></a></td>

    </tr>
  <% end %>
</table>
