<table>
  <% gear.each do |g| %>
    <tr>
      <td><%= g.name %></td>
      <td><a href="javascript:void(0)" class="remove-gear" data-id="<%= g.id %>"><i class="fi-x"></i></a></td>
    </tr>
  <% end %>
</table>
