<h1>Popular Music Gear</h1>

<ul class="large-block-grid-3 popular-gear">
  <% @gear_hash.each do |key,gear| %>
    <% if gear.present? %>
      <li>
        <h2><%= key %></h2>
        <div class="image-container">
          <%= image_tag gear.first.image_url %>
        </div>
        <ul>
          <% gear.each do |g| %>
            <li><%= link_to g.name, g %> - <%= g.ownerships.count %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
  
