<div class="row">
  <div class="large-8 columns">
    <%= form_tag '', :id => 'gear-search' do %>
      <%= text_field_tag :search, @search %>
    <% end %>

    <div id="gear-results">
    </div>
  </div>

  <div class="large-4 columns">
    <h2>My Gear</h2>
    <div id="gear-ownership">
      <%= render :partial => 'gear_ownership', :locals => { :gear => @gear } %>
    </div>
  </div>
</div>
