<% content_for(:title) { "studiolo.gy | a home recording enthusiast community" } %>
<header>
  <h1>studiolo.gy</h1>
  <div class="subtitle">a home recording enthusiast community</div>
</header>

<div class="signup">
  <div class="row">
    <div class="large-6 large-centered columns">
      Be informed when we go live!
      <form>
        <input type="text" />
      </form>
    </div>
  </div>
</div>

