/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$primary-color: #ee7532;

$dark-orange: #ee7532;
$light-orange: #f19a46;
$border-grey: #e6e6e6;

@import "foundation_and_overrides.scss";
@import 'foundation-icons';
@import 'compass';

// general styles
h1, h2, h3 {
  font-weight: normal;
  border-bottom: $border-grey 1px solid;
  padding-bottom: 10px;
}

h2 {
  margin-bottom: 0;
}


#landing {
  padding-top: 50px;
  text-align: center;
  header {
    h1 {
      margin-bottom: 0;
    }
    .subtitle {
      font-style: italic;
    }
  }
  .signup {
    margin-top: 30px;
  }

}

header {
  background-color: #555;
  margin-bottom: 20px;
  padding: 30px 0 25px 0;
  .logo {
    img {
      height: 50px;
      float: left;
    }
    a {
      color: $header-font-color;
    }
  }
  .account-info {
    float: right;
    color: #999;
  }
}

footer {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid $border-grey;
  text-align: center;
}

.landing-headline {
  background-color: $primary-color;
  height: 200px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.pagination {
  text-align: center;
  margin: 10px 0;
  font-size: 0.8em;
  a, span, em {
    padding: 0.3em 0.6em;
  }
  a {
    border: $primary-color 1px solid;
    margin: 1px;
    &:hover {
      background-color: lighten($primary-color, 30%);
    }
  }
  em.current {
    border: $primary-color 1px solid;
    font-style: normal;
    font-weight: bold;
    margin: 1px;
    background-color: $primary-color;
    color: white;
  }
  span {
    color: #999;
    border: #999 1px solid;
  }
}

.get-started {
  li {
    list-style-type: none;
    padding: 20px 0;
    border-bottom: $border-grey 1px solid;
  }
}

// studio header
.studio-header {
  padding: 0 0 20px 0;
  margin: 10px 0;
  h1 {
    margin: 0;
  }
}

.studio-info {
  margin-bottom: 30px;
}

.gear-filters {
  font-size: 0.85em;
  .filter-label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  ul {
    border-top: $border-grey 1px solid;
    padding-top: 5px;
    li {
      list-style-type: none;
      margin-bottom: 5px;
      border-bottom: $border-grey 1px solid;
      padding-bottom: 5px;
    }
  }
}


// studio blocks
.studio-block {
  border: 1px solid $border-grey;
  .photo {
    float: left;
    width: 60%;
  }
  .info {
    float: left;
    width: 40%;
    .header {
      background-color: #fafafa;
      border-bottom: 1px solid #f0f0f0;
      padding: 20px;
    }
    .content {
      padding: 20px;
    }
  }
}

#gear-results {
  .gear-result {
    padding: 12px 10px 12px 12px;
    a {
      color: #666;
      font-size: 0.85em;
    }
    .add-gear {
      float: right;
    }
  }

  .highlighted {
    padding: 10px 10px 10px 10px;
    border: $primary-color 2px solid;
    background-color: lighten($primary-color, 40%);
    a {
      color: $primary-color;
    }
  }
}

#gear-container {
  display: none;
  a.item {
    width: 200px;
    padding: 20px;
    border: #ededed 1px solid;
    color: #666;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.2em;
    background: white;
    img {
      margin-bottom: 10px;
    }
    &.wide {
      width: 400px;
    }
    &.narrow {
      width: 150px;
    }
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

ul.similar-gear {
  li {
    list-style-type: none;
    padding: 10px;
    &.current {
      background-color: #ededed;
    }
  }
}

ul.popular-gear {
  h2 {
    margin-top: 20px;
    text-align: center;
  }
  .image-container {
    height: 200px;
    position: relative;
    margin: 10px 0;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-height: 100%;
      max-width: 90%;
    }
  }
  a {
    color: #666;
    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}

.clear-fix {
  clear: both;
}
