/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$primary-color: #ee7532;

$dark-orange: #ee7532;
$light-orange: #f19a46;
$border-grey: #d6d6d6;

@import "foundation_and_overrides.scss";
@import 'foundation-icons';
@import 'compass';

// general styles
h1 {
  font-weight: normal;
}

#landing {
  padding-top: 50px;
  text-align: center;
  header {
    h1 {
      margin-bottom: 0;
    }
    .subtitle {
      font-style: italic;
    }
  }
  .signup {
    margin-top: 30px;
  }

}

header {
  margin-bottom: 20px;
  padding: 30px 0;
  border-bottom: 1px solid $border-grey;
  .logo {
    float: left;
    font-size: 2em;
    a {
      color: $header-font-color;
    }
  }
  .account-info {
    float: right;
  }
}

footer {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid $border-grey;
  text-align: center;
}

// studio header
.studio-header {
  padding: 0 0 20px 0;
  margin: 10px 0;
  h1 {
    margin: 0;
  }
}

.studio-info {
  margin-bottom: 30px;
}

ul.gear-filters {
  li {
    list-style-type: none;
    margin-bottom: 5px;
  }
}


// studio blocks
.studio-block {
  border: 1px solid $border-grey;
  .photo {
    float: left;
    width: 60%;
  }
  .info {
    float: left;
    width: 40%;
    .header {
      background-color: #fafafa;
      border-bottom: 1px solid #f0f0f0;
      padding: 20px;
    }
    .content {
      padding: 20px;
    }
  }
}

#gear-results {
  .gear-result {
    padding: 12px 10px 12px 12px;
    a {
      color: #666;
      font-size: 0.85em;
    }
    .add-gear {
      float: right;
    }
  }

  .highlighted {
    padding: 10px 10px 10px 10px;
    border: $primary-color 2px solid;
    background-color: lighten($primary-color, 40%);
    a {
      color: $primary-color;
    }
  }
}

#gear-container {
  display: none;
  a.item {
    width: 200px;
    padding: 20px;
    border: #ededed 1px solid;
    color: #666;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.2em;
    background: white;
    img {
      margin-bottom: 10px;
    }
    &.wide {
      width: 400px;
    }
    &.narrow {
      width: 150px;
    }
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

ul.similar-gear {
  li {
    list-style-type: none;
    padding: 10px;
    &.current {
      background-color: #ededed;
    }
  }
}

.clear-fix {
  clear: both;
}
